#Twilio API parameters

SID    = ""
TOKEN  = ""
SERVICEID = ""

#Unifi parameters

CONTROLLER_USER     = ""
CONTROLLER_PASSWORD = ""
CONTROLLER_URL      = ""
CONTROLLER_VERSION  = ""
DURATION = ""

#DB parameters

HOST_IP = ""
DB_USER = ""
DB_PASS = ""
DB_NAME = ""
TABLE_NAME = ""

#Unifi Site ID for this site
SITE_ID = ""

#Friendly Business name
BUSINESS_NAME = ""

#Redirect URL after successful authorization
REDIRECT_URL = ""